/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/


/*Sessão Menu*/
section.menu {
    /*position: fixed; */
    top: 0; /* Posiciona o menu no topo da página */
    left: 0; /* Alinha o menu à esquerda da página */
    width: 100%; /* Ocupa a largura total */
    background-color: #f0f0f0; /* Cor de fundo do menu */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra leve para dar destaque */
    z-index: 1000; /* Garante que o menu fique acima de outros elementos */
}

nav {
    display: block;
    width: 100%; /* Garante que o <nav> ocupe a largura total */
}

.menu__list {
    list-style-type: none;
    display: flex; /* Dispõe os itens do menu em linha */
    justify-content: center; /* Centraliza os itens do menu */
    padding: 0;
    margin: 0;
}

.menu__list__item {
    padding: 10px 15px; /* Espaçamento interno nos itens do menu */
}

.menu__list__item a {
    text-decoration: none;
    color: #333; /* Cor do texto dos links */
    font-weight: bold; /* Deixa o texto dos links em negrito */
}

section.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0; /* Fundo leve para destacar a seção */
}

.title__div {
    display: flex;
    flex-direction: row-reverse; /* Imagem à direita por padrão */
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; 
}

.title__profile {
    width: 150px;
    height: auto;
    border-radius: 50%; /* Torna a foto de perfil circular */
    margin-left: 20px; /* Espaço entre a imagem e o texto */
}

.title__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title__bio {
    margin: 10px 0;
    font-size: 24px; /* Tamanho do título */
}

.title__subsection {
    margin: 10px 0;
    font-size: 16px; /* Tamanho do subtítulo */
}

.title__network {
    list-style: none;
    display: flex;
    padding: 0;
    margin-top: 10px;
}

.title__network__item {
    margin-right: 15px;
}

.title__network__item a {
    text-decoration: none;
    color: #007bff; /* Cor do link */
    display: flex;
    align-items: center;
}

.title__network__item img {
    margin-left: 5px;
    width: 16px;
    height: auto;
}

/* Estilos para a seção Sobre mim */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about__container {
    width: 100%;
}

.about__title {
    color: #333;
    margin-bottom: 15px;
    font-size: 24px; /* Ajuste conforme a necessidade */
    text-align: center;
}

.about__paragraph {
    color: #666;
    font-size: 16px; /* Ajuste conforme a necessidade */
    line-height: 1.6;
    margin-bottom: 10px;
    text-align: justify;
}

.about__signature {
    margin-top: 20px;
    width: 150px; /* Ajuste conforme a necessidade */
    height: auto;
}


/* Estrutura básica */
.experience {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f5f5f5;
    max-width: 800px;
    margin: auto;
}

.experience__title {
    color: #333;
    margin-bottom: 15px;
}

.experience__box {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.experience__box time {
    font-size: 0.9em;
    font-weight: bold;
    color: #666;
}

.experience__box h3 {
    color: #007bff;
    margin-top: 5px;
}

.experience__box ul {
    list-style-type: none;
    padding: 0;
}

.experience__box ul li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.experience__box ul li:last-child {
    border-bottom: none;
}

/* Estilos para a sessão de Skills */
.skills {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f5f5f5;
    max-width: 800px;
    margin: auto;
    border-radius: 8px;
}

.skills__title {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.skills__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skills__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.skills__icon {
    width: 30px; /* Ajuste conforme necessário */
    height: auto;
    margin-bottom: 10px;
}

.skills__name {
    color: #007bff;
    font-weight: bold;
    text-align: center;
}




/* Estilos para a sessão de Hobbies */
.hobbies {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f5f5f5;
    max-width: 800px;
    margin: auto;
    border-radius: 8px;
}

.hobbies__title {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.hobbies__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hobbies__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.hobbies__icon {
    width: 30px; /* Ajuste conforme necessário */
    height: auto;
    margin-bottom: 10px;
}

.hobbies__name {
    color: #007bff;
    font-weight: bold;
}
/* Experiência Acadêmica*/

.academic {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f5f5f5;
    max-width: 800px;
    margin: auto;
}

.academic__title {
    color: #333;
    margin-bottom: 15px;
}

.academic__courses__box {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.academic__courses__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.academic__courses__item--img img {
    width: 100px; /* Ajuste conforme necessário */
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.academic__courses__item--title h4, .academic__courses__item--subtitle p {
    text-align: center;
    margin: 5px 0;
}

.academic__courses__item--title h4 {
    color: #007bff;
}

.academic__courses__item--subtitle p {
    color: #666;
}

/* experiência*/

section.experience{

}
.experience__section__title{
    text-align: center;
}

/*Contato*/
/* Estilos para a seção de Contato */
.formcontato {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    max-width: 1200px;
    margin: 40px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formcontato__container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.formcontato__esquerda, .formcontato__direita {
    flex: 1;
}

.formcontato__img {
    width: 100%;
    max-width: 500px; /* Ajuste conforme necessário */
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

.formcontato__title {
    color: #333;
    margin-bottom: 10px;
}

.formcontato__subtext {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

.formcontato__form {
    display: flex;
    flex-direction: column;
}

.formcontato__input, .formcontato__textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formcontato__textarea {
    resize: vertical; /* Permite ao usuário ajustar a altura da área de texto */
}

.formcontato__botao {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.formcontato__botao:hover {
    background-color: #0056b3;
}

/*footeer*/

section.footer{
   
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
